.bundle-showcase {
    background-image: url('/res/img/slider_background.png');
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .15);
    height: 444px;
    margin: 0 auto 60px;
    position: relative;
    width: 950px;

    .slider {
        position: relative;
        width: 80%;

        &--container {
            background-color: #e5e5e5;
            border-radius: 5px;
            border-top: 1px solid #ccc;
            bottom: 0;
            height: 170px;
            left: 0;
            position: absolute;
            width: 100%;

            &-average {
                font-size: 10px;
                font-weight: 300;
                position: absolute;
                top: 10px;

                &::after {
                    color: #5A5858;
                    content: '\25CF';
                    font-size: 12px;
                    left: 15px;
                    position: absolute;
                    top: 18px;
                }
            }

            &-price-limit {
                position: absolute;

                &_min {
                    left: 40px;
                    top: 26px;
                }

                &_max {
                    right: 25px;
                    top: 26px;
                }
            }

            &-range-area {
                margin: auto;
                position: relative;
                width: 760px;
            }
        }

        &--range {
            margin: 30px auto 0;
            width: 100%;

            &::-webkit-slider-runnable-track {
                background-image: linear-gradient(to bottom, #afcf00, #8FA800);
                border: 1px solid #010101;
                border-radius: 10px;
                cursor: pointer;
                height: 15px;
                width: 100%;
            }

            &::-webkit-slider-thumb {
                margin-top: -5px;
            }

            &::-moz-range-track, {
                background-image: linear-gradient(to bottom, #afcf00, #8FA800);
                border: 1px solid #010101;
                border-radius: 10px;
                cursor: pointer;
                height: 15px;
                width: 100%;
            }

            &::-moz-focus-outer {
                border: 0;
            }
        }

        &--arrow {
            background-image: linear-gradient(to bottom, #e5e5e5, #dedede);
            border: 1px solid #cac4c4;
            border-radius: 2px;
            height: 25px;
            pointer-events: none;
            position: absolute;
            top: 25px;
            width: 16px;
            z-index: 100;

            &::before {
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                border-top: solid 8px #cac4c4;
                content: '';
                left: 0;
                position: absolute;
                top: calc(100% + 1px);
            }

            &::after {
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                border-top: solid 8px #dedede;
                content: '';
                left: 0;
                position: absolute;
                top: 100%;
            }
        }

        &--bubble {
            background-image: linear-gradient(to bottom, #A6A6A6, #ccc);
            border-radius: 5px;
            height: 57px;
            margin: auto;
            position: relative;
            width: 217px;

            &_floating {
                position: absolute;
                top: 64px;

                &::before {
                    border-bottom: solid 8px #A6A6A6;
                    border-left: solid 8px transparent;
                    border-right: solid 8px transparent;
                    bottom: 100%;
                    content: '';
                    left: 93px;
                    position: absolute;
                }
            }

            &-input {
                background: transparent;
                border: 0;
                color: #718405;
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                height: 30px;
                margin: 10px 5px 0 20px;
                width: 55px;
            }

            &-button {
                background-image: linear-gradient(to bottom, #afcf00, #8FA800);
                border: 1px solid #636363;
                border-radius: 6px;
                color: #464545;
                cursor: pointer;
                font-weight: bold;
                height: 35px;
                margin-right: 10px;
                width: 125px;

                &:active {
                    background-image: linear-gradient(to top, #afcf00, #8FA800);
                }
            }

            &-currency {
                color: #718405;
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                left: 5px;
                position: absolute;
                top: 12px;
            }
        }
    }
}
