.bundle-footer {

    .goodies {
        float: left;
        width: 600px;

        &--title {
            background-color: #a5a2a2;
            height: 1px;
            position: relative;
            width: 100%;

            &-text {
                background-color: #ccc;
                font-size: 15px;
                font-weight: 300;
                left: 50%;
                padding: 0 15px;
                position: absolute;
                top: -11px;
                transform: translateX(-50%);
                width: 320px;
            }
        }

        .item {
            display: inline-block;
            font-size: 13px;
            height: 150px;
            padding: 30px 10px 0;
            vertical-align: top;
            width: 30%;

            &--title {
                font-weight: 500;
                padding-bottom: 10px;
            }

            &--subtitle {
                font-weight: 300;
            }

            &--icon {
                background-image: url(/res/img/icons_sprite.png);
                display: inline-block;
                height: 30px;
                width: 30px;

                &_note {
                    background-position: 66px 113px;
                }

                &_book {
                    background-position: 98px 83px;
                }

                &_journal {
                    background-position: 34px 85px;
                }

                &_movie {
                    background-position: 36px 114px;
                }

                &_screen {
                    background-position: 67px 85px;
                }

                &_zip {
                    background-position: -2px 48px;
                }
            }
        }
    }

    .goals {
        float: right;
        width: 400px;

        &--title {
            background-color: #a5a2a2;
            height: 1px;
            position: relative;
            width: 100%;

            &-text {
                background-color: #ccc;
                font-size: 15px;
                font-weight: 300;
                left: 50%;
                padding: 0 15px;
                position: absolute;
                top: -11px;
                transform: translateX(-50%);
            }
        }

        &--numbers {
            background-image: url(/res/img/goals_numbers.png);
            height: 100px;
            margin: 0 auto;
            width: 228px;
        }

        &--current {
            margin: 0 auto;

            &-description {
                font-weight: 300;
            }
        }

        &--arrow {
            background-image: url(/res/img/goals_button.png);
            cursor: pointer;
            display: inline-block;
            height: 28px;
            margin-bottom: 59px;
            width: 28px;

            &_left {
                transform: scale(-1, 1);
            }
        }

        &--thumbnail {

            &-section {
                margin: 0 auto;
            }

            &-image {
                background-image: url(/res/img/goals_thumbnail.png);
                display: inline-block;
                height: 155px;
                margin-top: 15px;
                width: 280px;
            }
        }

        &--milestones {
            background-image: url(/res/img/goals_milestones.png);
            height: 40px;
            margin: 0 auto;
            width: 270px;
        }
    }
}
